@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap');
html{
    scroll-behavior: smooth;
}
body{
    background-color: #000000;
    padding: 25px 50px 25px 50px;
    /* scroll-behavior: smooth; */
}
div{
    /* border: solid rgb(255, 0, 0) 1px; */
    color: white;
}
/* Some needed properties */
.dsf{
    display: flex;
}
.dsb{
    display: block;
}
.fdc{
    flex-direction: column;
}
.fdr{
    flex-direction: row;
}   

.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.fww{
    flex-wrap: wrap;
}
.fs{
    flex-shrink: 1;
}
.fg{
    flex-grow: 1;
}
.cards{
    height: 300px;
    width: 250px;
}

.font-Set {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
.headings-shi{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}
/* BUTTON THINGS */

.btn-default{
    padding: 20px 60px;
    border: solid rgb(255, 255, 255) 1px;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    transition:  0.8s;
}
.btn-default:hover{
    padding: 20px 60px;
    border-radius: 50px;
    background-color: #FCBE30;
    border: solid #FCBE30 1px;
    color: black;
    
}
/* Rest of the css */

/* Panel 1 */

.navbar{
    justify-content: space-between;
    /* position: absolute; */
}
.p1-i1{
    font-size: 175%;
    color: white;
    font-weight: bolder;

}
.p1-i2{
    gap: 75px;  
}
/* navbar buttons css */
.p1-i2 a{
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
    transition: all 1s;
}
.p1-i2 a:hover{
    border-bottom: solid yellow 1px;
    color: yellow;
}

 .about-me-img{
    width: 100%;
    
} 
.p1-d2-i1{
    /* border: solid rgb(255, 0, 0) 1px; */
    align-items: start;
    font-size: 200%;
    top: +100px;
    width: 500px;
}
.p1-d2-i1 p{
    /* font-style: italic; */
    font-size: 80%;
    font-weight: 300;
    font-stretch:normal;
    color: #e4b444;
}
.p1-d2-i1 span:nth-child(2){
    font-size: 60px;
}
.p1-d2-i1 span:nth-child(2) span{
    font-size: 60px;
    color: #e4b444;
    
}
.p1-d2-i1 span:nth-child(3) {
    padding-top: 25px;
}
.p1-d2-i2{
    width: 35%;
}
/* Panel 2  */

.p2-i1{
width: 35%;

}
.p2-i2{
 /* border: solid red 2px; */
 justify-content: start;
 gap: 20px;
}
.p2-i2 p {
    font-weight: 300;
    /* font-size: 12; */

}
.p2-i2> span{
    font-size: 132%;
    font-weight: 500;
}
.p2-i2> span span{
    color: #e4b444;
}
.p2-i2-d1{
    gap: 20px;
}
.p2-i2-d2 {
    gap: 20px;
    /* font-family: ; */
    font-weight: 300;

}

.p2-d1{
    gap: 25px;
}
/* Panel 3 */
.p3{
    gap: 35px;
}
.p3 div{
    width: 80%; 
    /* height: 300px; */
}
.p3-i3{
    /* flex-basis: ; */
    box-sizing: border-box;
    justify-content: space-between;
    gap: 30px;
    flex: 1200px;
}
.p3-i3-i1{  

    background-color: #191919;
    border-radius: 8px;
    flex: 30%;
    padding: 30px;
}
.p3-i3-i1 h2:first-child{
    color: #e4b444;  
    font-weight: 900;
}
.p3-i3-i1 h2:nth-child(2){
    font-weight: 500;
    font-size: 25px;
}
.p3-i3-i1 span{
    letter-spacing: 3px;
    font-weight: 400;
    font-weight: bold;
    font-size: 15px;
}

.p3-i3-i1 p{
    font-weight: 600;
    letter-spacing: 1px;

}
.p3-bt{
    padding-top: 15px;
}


/* Panel 4 */
.p4-i3{
    gap: 30px;
    width: 80%;
    flex-wrap: wrap;
}       
.p4-is img{
    width: 50%;
}
.p4-is h3{
    font-size: 150%;
    color: #FCBE30;
}

.p4-is{
    flex-wrap: wrap;
    flex: 1 1 30%;
    padding: 12px;
}
/* Panel 5  */
.p5-i3{
    position: relative;
    gap: 30px;
    flex-wrap: wrap;
    width: 75%;
}
.p5-i3 div{
    width: 45%;
}
.p5-i3-i1 div{
    /* position: relative; */
    width: 100%;
    background-color: #191919;
}
.p5-i3-i2 div{
    width: 100%;
    background-color: #191919;
}
.p5-i3-i3 div{
    width: 100%;
    background-color: #191919;
}
.p5-i3-i4 div{
    width: 100%;
    background-color: #191919;
}
.p5-i3-i5 div{
    width: 100%;
    background-color: #191919;
}
.p5-i3-i6 div{
    width: 100%;
    position: relative;
    background-color: #191919;
}
.p5-i3-i1 div div{
    position: relative;
    width: 90%;
    height: 5px;
    border-radius: 8px;
    background-color: #FCBE30;
}
.p5-i3-i2 div div{
    position: relative;
    width: 85%;
    height: 5px;
    border-radius: 8px;
    background-color: #FCBE30;
}
.p5-i3-i3 div div{
    position: relative;
    width: 95%;
    height: 5px;
    border-radius: 8px;
    background-color: #FCBE30;
}
.p5-i3-i4 div div{
    position: relative;
    width: 90%;
    height: 5px;
    border-radius: 8px;
    background-color: #FCBE30;
}
.p5-i3-i5 div div{
    position: relative;
    width: 70%;
    height: 5px;
    border-radius: 8px;
    background-color: #FCBE30;
}
.p5-i3-i6 div div{
    position: relative;
    width: 80%;
    height: 5px;
    border-radius: 8px;
    background-color: #FCBE30;
}
.p5-i3-i1 div div span{
    position: absolute;
    top: -28px;
    right: -4%;
    
}
.p5-i3-i2 div div span{
    position: absolute;
    top: -28px;
    right: -4%;
}
.p5-i3-i3 div div span{
    position: absolute;
    top: -28px;
    right: -4%;
}
.p5-i3-i4 div div span{
    position: absolute;
    top: -28px;
    right: -4%;
}
.p5-i3-i5 div div span{
    position: absolute;
    top: -28px;
    right: -4%;
}
.p5-i3-i6 div div span{
    position: absolute;
    top: -28px;
    right: -4%;
}

/* Panel 6 */
.p6-i3{
    gap: 25px;
    flex-wrap: wrap;
    width: 66%;
    /* justify-content: space-between; */
}
.p6-i3 img{
    border-radius: 5px;
}
.p6-i3-i1{
    flex-basis: 31%;
}
.p6-i3-i2{
    flex-basis:  66%;
}

.p6-i3-i3{
    flex-basis:  66%;
    /* flex-basis:  800px; */
    
}
.p6-i3-i4{
    flex-basis: 31%;
    /* flex-basis: 31%; */
    /* flex-basis: 350px; */
}
.p6-i3-i5{
    flex-basis:  66%;
    /* flex-basis:  800px; */
}
.p6-i3-i6{
    flex-basis: 31%;
    /* flex-basis: 350px; */
}

/* Panel 7 */
.p7-i3{
    width: 70%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
}
.p7-i3 div{
    flex: 200px;
    width: 32%;
    /* height: 530px; */
    gap: 25px;
}
.p7-i3 div img{
    width: 100%;
    border-radius: 5px;
}
.p7-i3 div span:nth-child(2){
    font-size: 100%;
    color: #e4b444;
}
.p7-i3 div span:nth-child(3){
    font-size: 150%;
}
/* Mini Panel */    
 .panel-mini{
    padding-top: 120px;
     position: relative;
     width: 100%;
    }
    .panel-mini img{
        width: 100%;
    }
    .panel-mini-div-1{
        /* box-sizing: border-box; */
        width: 70%;
        gap: 15px;
        position: absolute;
        z-index: 4;
        left: 15%; 
        top: 3%; 
    }
    .panel-mini-div-1 div{
        background-color: #191919;
        width: 15%;
        border-radius: 10px;
        gap: 8px;
    }
    .panel-mini-div-1 div{
        padding: 30px;
    }
    .panel-mini-div-1 div span:first-child{
        color: #e4b444;
        font-size: 300%;
    }
    .panel-mini-div-1 div span:last-child{
        font-size: 120%;
    }
    .panel-mini-div-2{
        position: absolute;
        top: 45%;
        left: 29%;
    }
    
/* Panel 8 */
.p8{
    width: 100%;
}
.p8-i3{
    width: 100%;
    gap: 30px   ;
}

.p8-i3 div i{
    padding: 30px;
    border-radius: 75%;
    background-color: #191919;
    color: #e4b444;
    font-size: 35px;
}
.forum-div{
    width: 60%;
    box-sizing: border-box;
    flex-basis: 600px;
    padding-bottom: 100px;
}
.forum-div div:first-child{
    
    width: 50%;
    height: 100%;
}
.forum-div div:last-child{
    width: 45%;
    height: 100%;
    background-color: white;
    /* width: 50%; */
}
.forum-div div:last-child form{
    gap: 20px;
    padding: 30px;
}
.forum-div div:last-child form input{
    padding: 10px;
}


.forum-div div:first-child img{
    width: 100%;
    height: 100%;
}
.footer-end{
    width: 100%;
    justify-content: space-around;
}
.footer-end div {
    gap: 10%;
}
.footer-end div span {
    text-decoration: none;
    color: white;
    
}
.footer-end div span a {
    text-decoration: none;
    color: white;
}
.footer-icons{
    padding: 100px;
    gap: 15px;
}
.footer-icons a{
    text-decoration: none;
    color: white;
}
.footer-icons i {
    font-size: 200%;
    padding: 25px;
    border-radius: 50%;
    background-color: #191919;
}
.tri{
    transition: all 0.8s;
}
.footer-icons a i:first-child:hover {
    background-color: rgb(35, 35, 224);
    color: white;

}
.footer-icons a i:nth-child(2):hover {
    color:white;
    background-color: blue;
}
.footer-icons a i:nth-child(3):hover {
    background-color: #E1306C;
    color: white;
}
