@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sixtyfour+Convergence&display=swap');
body{
    background-color: #000000;
    padding: 25px 50px 25px 50px;
}
div{
    /* border: solid rgb(255, 0, 0) 1px; */
    color: white;
}
/* Some needed properties */
.dsf{
    display: flex;
}
.dsb{
    display: block;
}
.fdc{
    flex-direction: column;
}
.fdr{
    flex-direction: row;
}   

.aic{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.cards{
    height: 300px;
    width: 250px;
}

.font-Set {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
.headings-shi{
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
    font-size: 50px;
}
/* BUTTON THINGS */

.btn-default{
    padding: 20px 60px;
    border: solid rgb(255, 255, 255) 1px;
    background-color: black;
    color: white;
    border-radius: 50px;
    text-decoration: none;
    transition:  0.8s;
}
.btn-default:hover{
    padding: 20px 60px;
    border-radius: 50px;
    background-color: #FCBE30;
    border: solid #FCBE30 1px;
    color: black;
    
}
/* Rest of the css */

/* Panel 1 */

.navbar{
    justify-content: space-between;
    /* position: absolute; */
}
.p1-i1{
    font-size: 175%;
    color: white;
    font-weight: bolder;

}
.p1-i2{
    gap: 75px;  
}
/* navbar buttons css */
.p1-i2 a{
    padding-bottom: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
    transition: all 1s;
}
.p1-i2 a:hover{
    border-bottom: solid yellow 1px;
    color: yellow;
}

 .about-me-img{
    width: 100%;
    
} 
.p1-d2-i1{
    /* border: solid rgb(255, 0, 0) 1px; */
    align-items: start;
    font-size: 200%;
    top: +100px;
    width: 500px;
}
.p1-d2-i1 p{
    /* font-style: italic; */
    font-size: 80%;
    font-weight: 300;
    font-stretch:normal;
    color: #e4b444;
}
.p1-d2-i1 span:nth-child(2){
    font-size: 60px;
}
.p1-d2-i1 span:nth-child(2) span{
    font-size: 60px;
    color: #e4b444;
    
}
.p1-d2-i1 span:nth-child(3) {
    padding-top: 25px;
}
.p1-d2-i2{
    width: 35%;
}
/* Panel 2  */

.p2-i1{
width: 35%;

}
.p2-i2{
 /* border: solid red 2px; */
 justify-content: start;
 gap: 20px;
}
.p2-i2 p {
    font-weight: 300;
    /* font-size: 12; */

}
.p2-i2> span{
    font-size: 132%;
    font-weight: 500;
}
.p2-i2> span span{
    color: #e4b444;
}
.p2-i2-d1{
    gap: 20px;
}
.p2-i2-d2 {
    gap: 20px;
    /* font-family: ; */
    font-weight: 300;

}

.p2-d1{
    gap: 25px;
}
/* Panel 3 */
.p3{
    gap: 35px;
}
.p3-i3{
    justify-content: space-between;
    gap: 30px;
    flex: 200px 1 1;
    width: 1200px;
    flex-wrap: wrap;
    flex: 2 2;
}
.p3-i3-i1{  
    background-color: #191919;
    border-radius: 8px;
    flex: 1 1 500px;
    padding: 30px;
}
.p3-i3-i1 h2:first-child{
    color: #e4b444;  
    font-weight: 900;
    /* font-size: 35px; */
}
.p3-i3-i1 h2:nth-child(2){
    font-weight: 500;
    font-size: 25px;
}
.p3-i3-i1 span{
    letter-spacing: 3px;
    font-weight: 400;
    font-weight: bold;
    font-size: 15px;
}

.p3-i3-i1 p{
    font-weight: 600;
    letter-spacing: 1px;

}
.p3-bt{
    padding-top: 15px;
}


/* Panel 4 */
.p4-i3{
    gap: 30px;
    width: 1200px;
    flex-wrap: wrap;
}       
.p4-is{
    flex-wrap: wrap;
    flex: 1 1 300px;

}
/* Panel 5  */
.p5-i3{
    gap: 30px;
    flex-wrap: wrap;
    width: 1200px;
}
.p5-i3 div{
    flex: 1 1 500px;
}
/* Panel 6 */
.p6-i3{
    gap: 25px;
    flex-wrap: wrap;
    width: 1200px;
    /* justify-content: space-between; */
}
.p6-i3-i1{
    flex-basis: 350px;
}
.p6-i3-i2{
    flex-basis:  800px;
}

.p6-i3-i3{
    flex-basis:  800px;
    
}
.p6-i3-i4{
    flex-basis: 350px;
}
.p6-i3-i5{
    flex-basis:  800px;
}
.p6-i3-i6{
    flex-basis: 350px;
}

/* Panel 7 */
.p7-i3{
    width: 1200px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.p7-i3 div{
    width: 350px;
    height: 530px;
    gap: 10px;
}
.p7-i3 div img{
    width: 100%;
}
/* Mini Panel */
/* Panel 8 */
.p8-i3{
    gap: 30px   ;
}